

.single-news {
  &__image {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    clear: both;
  }
  &__text {
    padding: 30px 15px;
    background: $white-color;
  }
}

.news-list {
  &__wrapper {
    background: $white-color;
    display: flex;
    flex-wrap: wrap;
  }
}

.news-item {
  position: relative;
  width: 25%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__promo {
    width: 50%;
  }
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $green-color;
    }
  }
  &__body {
    text-align: justify;
    &__image {
      height: 250px;
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  &__footer {
    margin-top: 15px;
    text-align: right;
    color: lighten($black-color, 45%);
  }
}

.info__callbac.info__wrapper {
  padding: 0;
  position: relative;
  .promo__image {
    height: 300px;
  }
  .owl-dots {
    position: absolute;
    top: 20px;
    left: 0;
    top: 0;
    right: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .owl-dot {
    width: 10px;
    height: 10px;
    border: 2px solid $green-color;
    border-radius: 100%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 0 5px rgba($black-color, .1);
    &.active {
      background: $green-color;
    }
  }
}

.last-promo {
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $white-color;
    background: darken($bg-color, 15%);
    margin: 0;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    &:hover {
      background: $green-color;
      text-decoration: none;
      color: $white-color;
    }
  }
}

