{% extends 'theme_first_base.html' %}
{% load i18n %}
{% load ppf_tags %}
{% load thumbnail %}

{% block title %}{{ object.title }}{% endblock %}
{% block META_DESC %}{{ object.meta_description }}{% endblock %}
{% block META_KEY %}{{ object.meta_keywords }}{% endblock %}
{% block header_scripts %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:description" content="{{ object.meta_description | truncatechars_html:170 | striptags }}" />
    {% if object.get_main_or_first_image %}
        {% thumbnail object.get_main_or_first_image "600x315" format="PNG" crop="center" as im %}
            <meta property="og:image" content="//{{ request.get_host }}{{ im.url }}" />
            <meta property="og:image:width" content="600" />
            <meta property="og:image:height" content="315" />
        {% endthumbnail %}
    {% endif %}
{% endblock %}

{% block body %}object-detail{% endblock body %}

{% block content %}

    {% catalog_breadcrumbs object.region object.title _('Our objects') 'geo-root' %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title__title align-center">{{ object.title }}
                    <small>(
                        {% for path in paths %}
                            {% if forloop.last %}
                                {{ path.title }}
                                {% else %}
                                {{ path.title }},
                            {% endif %}
                        {% endfor %})
                    </small>
                </h1>
            </div>
        </div>
    </section>
    <div style="background: #fff;">
    <div class="container">
    <section class="object-detail">
{#        <div class="container-fluid- container">#}
            <div class="row">
                <div class="col-md-12">
                <div class="object-detail__carousel owl-carousel">
                    {% for image in object.objectimage_set.all %}
{#                        {% thumbnail image.image "1800x600" crop="center" format="PNG" as im %}#}
{#                            <div class="object-detail__image" style="background-image: url('{{ im.url }}');" role="img"></div>#}
{#                        {% endthumbnail %}#}
                        <div class="object-detail__image" style="background-image: url('{{ image.image.url }}');" role="img"></div>
                    {% endfor %}
                </div>
                </div>
            </div>
{#        </div>#}
    </section>
    </div>
    </div>

    <section class="about-us">
        <div class="container-fluid">
            <div class="row" style="background: #fff;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="about-us__text">
                        {{ object.text | safe }}
                        <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=823397084482428&autoLogAppEvents=1';
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Поделиться</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h2 class="page-title-__secondary-title align-center mb-40">{% trans 'During construction was used' %}</h2>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container-fluid">
            <div class="row">
                <div class="products__grid">
                    {% for product in object.products.all %}
                    <div class="product prod_hover">
                        <div class="product__body">
                            {% if product.image %}
                                {% thumbnail product.image "200x200" crop="center" format="PNG" as im %}
                                    <img class="product__image" src="{{ im.url }}" alt="{{ product.title }}">
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div class="product__footer">
                            <h2 class="product__title">{{ product.title }}</h2>
                        </div>
                        <a class="product__link" href="{{ product.get_absolute_url }}"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
{#            <div class="row geo__products">#}
{#                {% for category in categories %}#}
{#                    <div class="col-xs-6 col-sm-4 padding-left-right-0">#}
{#                        <div class="row">{% include 'catalog/partials/_category.html' %}</div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}

{% endblock %}

{% block footer_scripts %}

{% endblock %}