{% extends 'theme_first_base.html' %}
{% load ppf_tags %}

{% block title %}{{ news.title }}{% endblock %}
{% block META_DESC %}{{ news.meta_description }}{% endblock %}
{% block META_KEY %}{{ news.meta_keywords }}{% endblock %}
{% block header_scripts %}{% endblock %}
{% block body %}news-detail{% endblock body %}

{% block content %}

    {% news_breadcrumbs _('News') 'news-list' news.title %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title__title align-center">{{ news.title }}</h1>
            </div>
        </div>
    </section>

    <section class="single-news">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    {% if news.image %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="text-align: center">
                            <img class="img-rounded mt-30" src="{{ news.image.url }}" alt="{{ news.title }}" style="max-width: 100%; height: auto">
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-news__text">{{ news.text | safe }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row geo__products">
                {% for category in categories %}
                    <div class="col-xs-6 col-sm-4 padding-left-right-0">
                        <div class="row">{% include 'catalog/partials/_category.html' %}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}


{% endblock %}

{% block footer_scripts %}{% endblock %}