{% extends 'theme_first_base.html' %}
{% load ppf_tags %}
{% load thumbnail %}

{% block title %}{{ news.title }}{% endblock %}
{% block META_DESC %}{{ news.meta_description }}{% endblock %}
{% block META_KEY %}{{ news.meta_keywords }}{% endblock %}
{% block header_scripts %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Акция!!! {{ promo.title }}" />
    <meta property="og:description" content="{{ promo.text | truncatechars_html:170 | striptags }}" />
    {% if promo.image %}
        {% thumbnail promo.image "600x315" format="PNG" crop="center" as im %}
            <meta property="og:image" content="//{{ request.get_host }}{{ im.url }}" />
            <meta property="og:image:width" content="600" />
            <meta property="og:image:height" content="315" />
        {% endthumbnail %}
    {% endif %}
{% endblock %}
{% block body %}promo-detail{% endblock body %}

{% block content %}

    {% news_breadcrumbs _('Promo') 'promo-list' promo.title %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title__title align-center">{{ promo.title }}</h1>
            </div>
        </div>
    </section>

    <section class="single-news">
        <div class="container-fluid">
            <div class="row">
                {% if promo.image %}
                    <div class="single-news__promo-image__wrapper">
                        <img class="single-news__promo-image img-responsive" style="margin: 0 auto;" src="{{ promo.image.url }}" alt="{{ promo.title }}">
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="single-news__text">
                    {{ promo.text | safe }}
                    <div class="clearfix"></div>
                    <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=823397084482428&autoLogAppEvents=1';
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Поделиться</a></div>
                </div>
            </div>
            <div class="row geo__products">
                {% for category in categories %}
                    <div class="col-xs-6 col-sm-4 padding-left-right-0">
                        <div class="row">{% include 'catalog/partials/_category.html' %}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}


{% endblock %}

{% block footer_scripts %}{% endblock %}