{% load i18n %}

<section class="breadcrumbs">
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="/" itemprop="item"><span itemprop="name">{% trans 'Home' %}</span>
                        <meta itemprop="position" content="1" />
                    </a>
                </li>
                {% if nav_item_route %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ nav_item_route }}" itemprop="item"><span itemprop="name">{{ nav_item }}</span>
                            <meta itemprop="position" content="2" />
                        </a>
                    </li>
                {% endif %}
                <li class="active">{{ page }}</li>
            </ol>
        </div>
    </div>
</section>
