{% load i18n %}

<section class="breadcrumbs">
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="/" itemprop="item"><span itemprop="name">{% trans 'Home' %}</span>
                        <meta itemprop="position" content="1" />
                    </a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ root_link }}" itemprop="item"><span itemprop="name">{{ root_name }}</span>
                        <meta itemprop="position" content="2" />
                    </a>
                </li>
                {% for category in pages %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ category.get_absolute_url }}" itemprop="item"><span itemprop="name">{{ category.title }}</span>
                            <meta itemprop="position" content="{{ forloop.counter | add:2 }}" />
                        </a>
                    </li>
                {% endfor %}
                <li class="active">{{ product.title }}</li>
            </ol>
        </div>
    </div>
</section>
