.page-title {
  &__title {
    background: lighten($main-color, 19%);
    margin-bottom: 0;
    padding: 20px 0;
    margin-top: 0;
  }
  &__secondary-title {
    background: lighten($main-color, 19%);
    margin-bottom: 0;
    padding: 20px 0;
    margin-top: 0;
  }
}

.filter {
  display: flex;
  justify-content: center;
  background: $white-color;
  &__link {
    width: 100%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: $black-color;
    display: block;
    background: rgba($main-color, .3);
    &:hover {
      text-decoration: none;
      color: $white-color;
      background: $green-color;
    }
  }
}

.products {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.prod_hover.active {
  img {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba($black-color, .2);
  }
}

.product {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  position: relative;
  transition: .2s;
  &:nth-child(5n) {background: #eaf4f9;}
  &:nth-child(5n-1) {background: #e0eef7;}
  &:nth-child(5n-2) {background: #e9f0fb;}
  &:nth-child(5n-3) {background: #d2e6f4;}
  &:nth-child(5n-4) {background: #deeff7;}
  img {
    transition: ease-in-out 1s;
    border-radius: 50%;
  }
  &:hover {
    background: rgba($bg-color, .3);
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  &__image-wrapper {
    transition: .2s;
  }
  &__footer {
    text-align: center;
    padding-bottom: 10px;
  }
  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__edit {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background: $red-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba($black-color, .5);
    color: $white-color;
    transition: .2s;
    &:hover,
    &:focus,
    &:active {
      color: $white-color;
      background: $green-color;
      text-decoration: none;
    }
  }
}

.product-detail {
  .container-fluid {
    background: $white-color;
  }
  &__image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;
  }
}