.product {
    max-width: calc(100vw / 2);
    min-width: auto;
  &__image {
    max-width: 160px;
  }
  &__body {
    height: 200px;
  }
  &__title {
    font-size: 18px;
  }
}

.product-detail__video {
    width: 100%;
}