.pre-footer {
  &__bg {
    background: lighten($main-color, 15%);
    padding: 30px 0;
  }
  &__nav {
    margin: 0;
    padding: 0;
    &__li {
      list-style: none;
    }
  }
}

.footer {
  &__bg {
    background: lighten($main-color, 10%);
    padding: 15px 0;
  }
}