
<section class="breadcrumbs">
    <div class="container-fluid">
        <div class="row">

                <ul class="breadcrumb" style="background: #d3e9f5;">
                    {% if perms.assistant.can_update_mizol %}
                        <li><a href="{% url 'add-mizol-new-products' %}">Mizol добавление</a></li>
                        <li><a href="{% url 'update-mizol-prices' %}">Mizol обновление</a></li>
                    {% endif %}
                    {% if perms.assistant.can_update_prom_parameters %}
                        <li><a href="{% url 'import-parameters-from-prom' %}">Импорт характеристик с prom.ua</a></li>
                    {% endif %}
                </ul>

        </div>
    </div>
</section>