{% extends 'theme_first_base.html' %}
{% load my_tags %}
{% load i18n %}
{% load thumbnail %}

{% block title %}ППФ - все товары{% endblock title %}
{% block body %}assistant-all-products{% endblock body %}

{% block content %}

    {% include '_assistant-dop-nav.html' %}

    {% if category %}
        {% breadcrumbs category %}
    {% endif %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row page-title__title">
                <h1 class="page-title__title align-center">
                    {% if category %}
                        {{ category.title }}
                    {% else %}
                        {% trans 'Products from assistant' %}
                    {% endif %}
                </h1>
                <div class="col-md-4 col-md-offset-4">
                    <form action="{% url 'search-catalog' %}">
                        <input type="text" class="form-control" name="code" placeholder="Поиск по артикулу">
                    </form>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>Изображение</th>
                        <th>Артикул</th>
                        <th>Категория</th>
                        <th>Категория Rozetka</th>
                        <th>Rozetka</th>
                        <th>Prom</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Курс</th>
                        <th>Цена в грн.</th>
                        <th>Изм</th>
                        <th>Поставщики</th>
                        <th>IMG</th>
                        <th>Добавление</th>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% if product.image %}
                                {% thumbnail product.image "60x40" crop="center" format="PNG" as im %}
                                    <img class="product-image" src="{{ im.url }}" alt="{{ product.title }}">
                                {% endthumbnail %}
                            {% endif %}
                        </td>
{#                        <td><div class="product-image" style="background-image: url('{% if product.image %}{{ product.image.url }}{% else %}//via.placeholder.com/350x300{% endif %}');"></div></th>#}
                        <td><code>{{ product.code }}</code></td>
                        <td>{% if product.category %}<a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a> {% endif %}</td>
                        <td>{% if product.category_rozetka %}{{ product.category_rozetka }}{% endif %}</td>
                        <td>{% if product.import_to_rozetka %}<span class="label label-success">Rozetka</span>{% endif %}</td>
                        <td>{% if product.import_to_prom %}<span class="label label-success" style="background: linear-gradient(135deg,#4854a2,#772088);">Prom</span>{% endif %}</td>
                        <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                        <td>{% if product.price %}{{ product.price }} <span class="label label-info pull-right">{{ product.currency.code }}</span>{% endif %}</td>
                        <td>{{ product.course }}</td>
                        <td>{{ product.get_price_UAH }}</td>
                        <td>{{ product.unit.short_title }}</td>
                        <td><span class="label {% if product.get_delivery_count == 0 %}label-danger{% else %}label-info{%endif%}">{{ product.get_delivery_count }}</span></td>
                        <td><span class="label
                                                {% if product.photo_set.all.count == 0 %}label-danger
                                                {% elif product.photo_set.all.count < 5 %}label-default
                                                {% else %}label-success
                                                {%endif%}">{{ product.photo_set.all.count }}</span></td>
                        <td>{{ product.created }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% include '_paginate.html' %}
            </div>
        </div>
    </div>
    <style>
        .product-image {
            width: 60px;
            height: 40px;
            background-size: cover;
            background-position: center center;
        }
        td {
            vertical-align: middle !important;
        }
    </style>
{% endblock content %}