//body.geo-root .header__wrap {
//    background: lighten($main-color, 15%);
//    margin-left: -15px;
//    margin-right: -15px;
//}
//
//body.geo-root .header__pinned .header__wrap {
//    background: inherit;
//}

.geo {
  &__map {
    background: lighten($main-color, 23%);
    padding: 20px 150px;
    .is_objects {
      fill: $main-color;
      transition: .2s;
      &:hover {
        fill: $green-color;
        cursor: pointer;
      }
    }
  }
  &__products {
    .without-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.object-detail {
  &__image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 auto;
  }
}