.super {
  .flex {
      display: flex;
      flex-wrap: wrap;
      .col-md-4 {
        margin-bottom: 10px;
        width: 100%;
        &:first-child {
          display: none;
        }
      }
    }
}

.heeader-nav__link {
    padding: 10px;
}

.square {
    //&__center {
    //    background: #e5f5ff;
    //    height: 100vh;
    //    max-height: 1000px;
    //    min-height: 800px;
    //    position: relative;
    //    overflow: hidden;
    //    &:after,
    //    &:before {
    //        left: 0;
    //        content: '';
    //        display: block;
    //        position: absolute;
    //        width: 100%;
    //        background-repeat: repeat-x;
    //        background-position: center bottom;
    //    }
    //    &:before {
    //        bottom: -1px;
    //        background-image: url('../img/gress.png');
    //        height: 200px;
    //    }
    //}
    //&__logo {
    //    position: absolute;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    top: 20%;
    //}
    //&__info {
    //    position: absolute;
    //    left: 20%;
    //    top: 70%;
    //}
    &__not-center {
    //    height: 50vh;
    //    max-height: 500px;
    //    background: $white-color;
        min-height: 250px;
    //    position: relative;
    //    display: block;
    //    overflow: hidden;
    //    &.active {
    //        .square__image {
    //            transform: scale(1.1);
    //            box-shadow: 0 0 20px rgba($black-color, .2);
    //        }
    //    }
    }
    &__image {
        //background-repeat: no-repeat;
        //background-size: cover;
        //background-position: center bottom;
        //position: absolute;
        //top: 40%;
        margin-top: -75px;
        //left: 50%;
        margin-left: -75px;
        height: 150px;
        width: 150px;
        //border-radius: 50%;
        //transition: 1.5s;
    }
    //&__title {
    //    display: block;
    //    position: absolute;
    //    bottom: 0;
    //    height: 70px;
    //    left: 0;
    //    right: 0;
    //    text-align: center;
    //}
    //&__1 { background: #f3f8ff; }
    //&__2 { background: #d2e6f4; }
    //&__3 { background: #d7f3ff; }
    //&__4 { background: #f0ffff; }
    //&__link {
    //    display: block;
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    bottom: 0;
    //    right: 0;
    //}
}