{% load i18n %}
{% load ppf_tags %}

<section class="pre-footer">
    <div class="container-fluid">
        <div class="row pre-footer__bg">
{#            <div class="col-md-3">#}
{#                <h4>{% trans 'Choice language' %}</h4>#}
{#                <ul>#}
{#                    {% for lang in LANGUAGES %}#}
{#                        <li><a href="#" onclick="document.setLang{{ lang.1 }}.submit(); return false;">{{ lang.1 }}</a>#}
{#                            <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">#}
{#                                {% csrf_token %}#}
{#                                <input name="next" type="hidden" value="/">#}
{#                                <input type="hidden" name="language" value="{{ lang.0 }}">#}
{#                            </form>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
            <div class="col-xs-6">
                <h4>{% trans 'Catalog' %}</h4>
                <ul class="pre-footer__nav">
                    {% if categories %}
                        {% for category in categories %}
                            <li class="pre-footer__nav__li">
                                <a class="pre-footer__nav__link" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li class="pre-footer__nav__li">
                                <a class="pre-footer__nav__link" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-6 align-right">
                <h4>{% trans 'Navigate' %}</h4>
                <ul class="pre-footer__nav">
                    <li class="pre-footer__nav__li">
                        <a class="pre-footer__nav__link" href="{% url 'home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li class="pre-footer__nav__li">
                        <a class="pre-footer__nav__link" href="{% url 'catalog' %}">{% trans 'Catalog' %}</a>
                    </li>
                    <li class="pre-footer__nav__li">
                        <a class="pre-footer__nav__link" href="{% url 'news-list' %}">{% trans 'News' %}</a>
                    </li>
                    <li class="pre-footer__nav__li">
                        <a class="pre-footer__nav__link" href="{% url 'geo-root' %}">{% trans 'Our objects' %}</a>
                    </li>
                    <li class="pre-footer__nav__li">
                        <a class="pre-footer__nav__link" href="{% url 'contacts' %}">{% trans 'Contact us' %}</a>
                    </li>
                </ul>
            </div>
{#            <div class="col-md-3">#}
{#                <h4>Contacts</h4>#}
{#            </div>#}
        </div>
    </div>
</section>