{% load i18n %}

<section class="pre-footer">
    <div class="container-fluid">
        <div class="row pre-footer__bg">
            <div class="col-md-3">
                <h4>{% trans 'Navigate' %}</h4>
            </div>
            <div class="col-md-3">
                <h4>{% trans 'Catalog' %}</h4>
            </div>
            <div class="col-md-3">
                <h4>{% trans 'Pages' %}</h4>
            </div>
            <div class="col-md-3">
                contacts
            </div>
        </div>
    </div>
</section>