@import "variables-functions-and-mixins";

::selection { background: rgba($green-color, .5); }

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container-fluid {
    max-width: 1800px;
    background: $white-color;
}

// PAGINATION

.pagination {
    li {
        a {
            background: lighten($bg-color, 16%);
            border: none;
            padding: 12px 19px;
            &:hover {
                background: $green-color;
                color: $white-color;
            }
        }
        &:first-child,
        &:last-child {
            a {
                border-radius: 0;
            }
        }
    }
    .active {
        a {
            background: $green-color;
            border: none;
            &:hover {
                background: $green-color;
                border: none;
            }
        }
    }
}

@import 'media';
@import "fonts";
