{% extends 'theme_first_base.html' %}

{% block body %}catalog-root{% endblock body %}

{% block content %}

<section class="squares">
    <div class="container-fluid">
        <div class="row">
        {% for category in categories %}
            <div class="col-xs-6 col-sm-4 padding-left-right-0">
                <div class="row">
                    {% include 'catalog/partials/_category.html' %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% include 'django_ppf/partials/_info.html' %}

{% endblock content %}