{% extends 'theme_first_base.html' %}

{% block content %}

<section class="squares">
    <div class="container-fluid">
        <div class="row">
        {% for category in categories %}
            <div class="col-md-6 padding-left-right-0">
                <div class="row">
                    {% include 'catalog/partials/_category.html' %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<section class="info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 info__wrapper info__news">
        <h3 class="info__title">Новости</h3>
      </div>
      <div class="col-md-4 info__wrapper info__objects">
        <h3 class="info__title">Наши объекты</h3>
      </div>
      <div class="col-md-4 info__wrapper info__callbac">
        <h3 class="info__title">Обратная связь</h3>
      </div>
    </div>
  </div>
</section>

{% endblock content %}