{% extends 'theme_first_base.html' %}
{% load ppf_tags %}
{% load thumbnail %}

{% block title %}{{ category.title }}{% endblock %}
{% block META_DESC %}{{ category.meta_description }}{% endblock %}
{% block META_KEY %}{{ category.meta_keywords }}{% endblock %}
{% block header_scripts %}{% endblock %}

{% block body %}category-list{% endblock body %}

{% block content %}

{% catalog_breadcrumbs category False _('Catalog') 'catalog' %}

<section class="page-title">
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title__title align-center">{{ category.title }}</h1>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="filter">
                {% for region in children %}
                    <h4><a class="filter__link" href="{{ region.get_absolute_url }}">{{ region.title }}</a></h4>
                {% endfor %}
            </div>
        </div>
        <div class="mb-10"></div>
    </div>
</section>

<section class="products">
    <div class="container-fluid">
        <div class="row">
            <div class="products__grid">
                {% for product in products %}
                    <div class="product prod_hover">
                        <div class="product__body">
                            <div class="product__image-wrapper">
                                {% if product.image %}
                                    {% thumbnail product.image "200x200" crop="center" format="PNG" as im %}
                                        <img class="product__image" src="{{ im.url }}" alt="{{ product.title }}">
                                    {% endthumbnail %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="product__footer">
                            <h2 class="product__title">{{ product.title }}</h2>
                        </div>
                        <a class="product__link" href="{{ product.get_absolute_url }}"></a>
                    </div>
                {% endfor %}
            </div>
        {% include '_paginate.html' %}
        </div>
    </div>
</section>

{% include 'django_ppf/partials/_info.html' %}

    <style>
    .item {
        width: 200px;
        height: 300px;
        background: #dee;
    }
    </style>
{% endblock %}

{% block footer_scripts %}{% endblock %}