{% extends 'theme_first_base.html' %}
{% load ppf_tags %}
{% load thumbnail %}

{% block title %}{{ product.title }}{% endblock %}
{% block META_DESC %}{{ product.meta_description }}{% endblock %}
{% block META_KEY %}{{ product.meta_keywords }}{% endblock %}
{% block header_scripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}product-detail{% endblock body %}

{% block content %}

{#    {% catalog_breadcrumbs product.category product.title _('Catalog') 'catalog' %}#}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <div class="page-title__title">
                    {% thumbnail manufacturer.logo "200x200" crop="center" format="PNG" as im %}
    {#                    <img src="{{ im.url }}" alt="{{ manufacturer.title }}">#}
                        <div class="user__avatar" style="background-image: url({{ im.url }});" role="image"></div>
                    {% endthumbnail %}
                    <h1 class="page-title__title align-center">{{ manufacturer.title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {{ manufacturer.description | safe }}
                </div>
            </div>
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}

{% endblock %}


{% block footer_scripts %}
    <style>
    .after {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    </style>
{% endblock %}