{% extends 'theme_first_base.html' %}
{% load ppf_tags %}

{% block title %}{{ product.title }}{% endblock %}
{% block META_DESC %}{{ product.meta_description }}{% endblock %}
{% block META_KEY %}{{ product.meta_keywords }}{% endblock %}
{% block header_scripts %}{% endblock %}

{% block body %}product-detail{% endblock body %}

{% block content %}

    {% catalog_breadcrumbs product.category product.title _('Catalog') 'catalog' %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title__title align-center">{{ product.title }}</h1>
            </div>
        </div>
    </section>

    <section class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="product-detail__image" style="background-image: url('{{ product.image.url }}');"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ product.text }}</div>
            </div>
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}
{% endblock %}

{% block footer_scripts %}{% endblock %}