{% extends 'theme_first_base.html' %}
{% load ppf_tags %}

{% block title %}{{ product.title }}{% endblock %}
{% block META_DESC %}{{ product.meta_description }}{% endblock %}
{% block META_KEY %}{{ product.meta_keywords }}{% endblock %}
{% block header_scripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}product-detail{% endblock body %}

{% block content %}

    {% catalog_breadcrumbs product.category product.title _('Catalog') 'catalog' %}

    <section class="page-title">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title__title align-center">{{ product.title }}</h1>
            </div>
        </div>
    </section>

    <section class="product-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {{ product.text | safe }}
                </div>
            </div>
        </div>
    </section>

    {% include 'django_ppf/partials/_info.html' %}

    {% if user.is_staff %}
        <a href="{% url 'catalog-product-edit' product.id %}" target="_blank" class="product__edit">
            <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
        </a>
    {% endif %}

{% endblock %}


{% block footer_scripts %}
    <style>
    .after {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    </style>
{% endblock %}